$base-font-size: 16px;
$base-font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
  "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
$font-color: #161616;
$accent-color: #00428e;
$base-color: #0844b4;
$second-color: #e6f1ff;
$white: #fff;
